*{
    padding: 0;
    margin: 0;
}

footer{
    background: #173083;
    width: 100%;
    padding-bottom: 0;
    color: white;
    font-family: din1451;


}

.footer-max-container{
    max-width: 1134px;
    width: 100%;
    margin: auto;
}

.social-icons{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 30px;
     
}

.social-icons-img{
   
    display: flex;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.social-icons a{
    margin-left: 0 13px;

}

.social-icons img{
    width: 40px;
    border-radius: 100px;

}

.footer-content{
    display: flex;
    justify-content: space-between;
   
}
.footer-content-info{
    width: 100%;
}

.footer-politicas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.footer-politicas ul{
    width: 100%;
    list-style: none;

}

.footer-politicas ul li{
    text-decoration: none;
    font-size: 18px;

}

.footer-politicas li a{
    color: #fff;
    text-decoration: none;

}
.footer-politicas span{ 
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
    font-size: 24px;
    display: none;


}

.icons-bembos{  
    text-align: center;
    padding-top: 50px;

}

.icons-bembos img{
    width: 200px;
    border: 1px solid black;

}

.title-methods{
    letter-spacing: -1px;
    text-align: center;
    padding-bottom: 20px;

}

.list-methods{
    padding: 0 55px;
    display: flex;
    list-style: none;
   
}

.list-methods img{
    border-radius: 4px;
    width: 45px;
    
}

.list-methods li{
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    text-align: center;

}

.safety{
    padding: 20px 15px 0;
    text-align: center;

}

.safety img{ 
    width: 220px;
    
}

.comprobante{
    padding: 30px 45px;
    text-align: center;    
}
.comprobante a{
    background: #fbb905;
    border-radius: 5px;
    text-decoration: none;
    color: #173083;
    width: 223px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;    

}

.comprobante img{
    width: 15%;

}

.send-mail{ 
    display: flex;
    align-items: center;
    margin-top: 10px;

}


.send-mail input{ 
    border-radius: 5px 0 0 5px;
    width: calc(100% - 112px);
    padding: 0 9px;
    font-size: 16px;

}

.send-mail input, button{
    border: none;
    height: 38px;
    font-family: Kulturista;
   
}

.send-mail button{
    width: 112px;
    background: #ffb500;
    border-radius: 0 5px 5px 0;
    font-size: 12px;
    cursor: pointer;
}

.terminos-conditions{
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-top: 10px;

}

.terminos-conditions label a{
    margin-left: 10px;
    color: #fff;

}

.libro-reclamaciones{ 
    min-height: 60px;
    font-size: 18px;
    margin-top: 25px;

}
.libro-reclamaciones img{
    border-radius: 5px;

}

.main-footer{
    text-align: center;
    color: #a6adcb;
    font-size: 13px;
    border-top: 1px solid;
    padding: 8px;
    min-height: 32px;
    
}

.footer-politicas span{
    border: 1px solid #6f6c6c;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    display: none;
    cursor: pointer;

}
   
.fpoliticas{
    padding: 5px;
    border: 1px solid black;
    overflow: hidden;
    height: 80px;
}





@media(max-width: 1024px) { 

    .footer-max-container{
        display: grid;
        grid-template-columns: repeat( 1, 1fr);
        align-items: center;
        
    }

    .footer-content{
       display: grid;
       grid-template-columns: repeat( 1, 1fr);
       align-items: center;
           
    }
   .footer-politicas{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
         
   }
   .footer-politicas ul{
        width: 100%;
        text-align: center;
   }

   .footer-politicas ul li{
         padding: 10px;
         overflow: hidden;

   }
   .libro-reclamaciones{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 15px

   }
   
   .icons-bembos, .title-send, .send-mail, .terminos-conditions{
        display: none;

   }
   .list-methods img{
    width: 60px;
    
    }
    .logo-libro{
        align-items: center;
    }
    .footer-politicas span{ 
        display: block;
        border-bottom: 1px solid #6f6c6c;

    }
    .active{
        height: 260px;
    }
    .footer-politicas .politicas-ul {
        display: none;
        
      }
      .footer-politicas.clicked .politicas-ul {
        display: block;
      }

    
  
    
}
/* 
@media (max-width: 375px){ 
    .footer-politicas {
        min-height: 275px;
     
    }
   

}  */

