*{
    padding: 0;
    margin: 0;
    box-sizing:border-box
}

.max-container {
    max-width: 1134px;
    width: 100%;
    margin: auto;
}

.pagina-main {
    width: 100%;
    background: #fff;
    border-radius: 15px;
    margin: 20px auto;
    padding: 0 20px 20px;
}

.pagina-main .pagina-title h1 {
    color: #ffb500;
    font-size: 30px;
    font-weight: 400;
}

.pagina-main .pagina-title {
    border-radius: 9px 9px 0 0;
    padding: 10px 15px;
    background: #21388b;
    text-align: center;
    font-family: din1451,sans-serif;
}

.pagina-main .pagina-content .content{
    max-width: 914px;
    margin: 40px auto;
    padding: 0 10px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.seccion-content-main .seccion-content-title {
    background: #ffb500;
    margin: 10px auto;
    padding: 15px 10px;
    border-radius: 9px;
    text-align: left;
    color: #21388b;
    font-weight: 700;
    cursor: pointer;
    font-size: 15px;

}
.seccion-content-main li, .departamento li {
    list-style: none;
    padding: 0;
    margin: 20px 0;

}

.pagina-main .pagina-content .content .seccion-lima .seccion-provincia{
    width: 47%;
    font-family: Kulturista;

}
.departamento{
    margin-bottom: 40px;

}
.seccion-lima .seccion-title, .departamento .seccion-title {
    background: #21388b;
    padding: 15px 10px;
    font-family: Kulturista,sans-serif;
    text-align: center;
    border-radius: 9px 9px 0 0;
    color: #fff;
    margin-bottom: 30px;
}

.pagina-preguntas .section-title h2 {
    color: #21388b;
    font-weight: 900;
    padding: 10px 15px;
    font-size: 30px;
    font-family: din1451,sans-serif;
    text-align: center;
    text-transform: uppercase;
}
